In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv (r"C:\Users\OmotayoWaheed\OneDrive - Trium Limited\Desktop\FAO_DATA.csv", encoding = "latin-1")
print (df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [3]:
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [5]:
# What is the total sum of Animal Fat produced in 2014 and 2017 respectively?Perform a groupby sum aggregation on ‘Item’
df_animal_fats = df[df.Item == 'Animal fats']
df_animal_fats.groupby(['Item'])[['Y2014', 'Y2017']].sum()

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

In [6]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
mean_2015 = df['Y2015'].mean()
std_2015 = df['Y2015'].std()
print(f'The mean for 2015 is {round(mean_2015,3)}')
print(f'The std for 2015 is {round(std_2015, 3)}')

The mean for 2015 is 135.236
The std for 2015 is 1603.404

In [7]:
# What is the total number and percentage of missing data in 2016 to 2 decimal places?
total_missing =df['Y2016'].isnull().sum()
percent_missing = df['Y2016'].isnull().sum() * 100 / len(df['Y2016'])
print(f' The total missing data in 2016 is {total_missing}')
print(f' The percentage of  missing data in 2016 is {round(percent_missing, 2)}%')

 The total missing data in 2016 is 1535
 The percentage of  missing data in 2016 is 2.52%

In [8]:
# Which year had the highest correlation with ‘Element Code’
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

#### The year with the highest correllation with Element Code is Y2014

In [9]:
#What year has the highest sum of Import Quantity?

#Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

#year_highest_sum = df.groupby('Element').agg({'Unit':np.sum}).sort_values('Unit',ascending=False)

In [10]:
# What is the total number of the sum of Production in 2014?

# Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question
sum_production = df.groupby('Element')['Y2014'].sum()
print(f'The total number of the sum of production in 2014 is {sum_production.sum()}')

The total number of the sum of production in 2014 is 7965086.130000001

In [11]:
# Which of these elements had the highest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, 
# Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.
element_highest_sum = df.groupby('Element').agg({'Y2018':np.sum}).sort_values('Y2018',ascending=False)
element_highest_sum.head(1)

                              Y2018
Element
Domestic supply quantity  2161192.1

### The element with the highest sum in 2018 is Domestic supply quantuty

In [12]:
# Which of these elements had the 3rd lowest sum in 2018?

# Hint-  Select columns ‘Y2018’ and ‘Element’, 
# Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.  
#df.groupby(['Y2018','Element'])['Element'].sum()
lowest_sum = df.groupby('Element').agg({'Y2018':np.sum}).sort_values('Y2018',ascending=True)
lowest_sum.head(3)

                                           Y2018
Element
Tourist consumption                        90.00
Fat supply quantity (g/capita/day)      10258.69
Protein supply quantity (g/capita/day)  11833.56

### The Element with the 3rd lowest sum is : Protein Supply quantity

In [13]:
# total Import Quantity in Algeria in 2018?
df_Algeria = df[df.Area == 'Algeria']
df_Algeria.groupby(['Area'])[['Y2018']].sum()

             Y2018
Area
Algeria  341729.98

In [14]:
# What is the total number of unique countries in the dataset?
unique_countries = df['Area'].nunique()
print(f' The total number of unique countries is {unique_countries}')

 The total number of unique countries is 49